
<div
  class="drag-container"
  id="circle-origin-list"
  cdkDropList
  [cdkDropListData]="circles"
  [cdkDropListConnectedTo]="squareIds"
  (cdkDropListDropped)="drop($event)"
  cdkDropListOrientation="horizontal"
>
  <div
    *ngFor="let circle of circles"
    id="{{circle}}"
    class="drag-circle"
    cdkDrag
  >
    <div class="circle-origin-custom-placeholder" *cdkDragPlaceholder>
    </div>
    {{circle}}
  </div>
</div>




<div
  class="drop-container"
  id="drop-container"
>
  <div
    *ngFor="let square of squares"
    id="{{square.id}}"
    class="drop-square empty"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="['circle-origin-list']"
  >
    <div class="circle">drop!</div>
    {{square.id}}
  </div>
</div>
