<div
  class="drop-container"
  id="drop-container"
>
  <div
    *ngFor="let square of squares; index as idx"
    id="{{square.id}}"
    class="drop-square"
    cdkDropList
    [cdkDropListData]="squareData[idx]"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="['circle-origin-list']"
  >
    <div *ngIf="squareData[idx][0]" class="drag-circle">
      {{squareData[idx][0]}}
      <br />
      in {{square.id}}
    </div>
    {{square.id}}
  </div>
</div>




<div
  class="drag-container"
  id="circle-origin-list"
  cdkDropList
  [cdkDropListData]="circles"
  [cdkDropListConnectedTo]="squareIds"
  (cdkDropListDropped)="drop($event)"
  cdkDropListOrientation="horizontal"
>
  <div
    *ngFor="let circle of circles"
    id="{{circle}}"
    class="drag-circle"
    cdkDrag
  >
    <div class="circle-origin-custom-placeholder" *cdkDragPlaceholder></div>
    {{circle}}
  </div>
</div>
